<div class="container py-3">
  <h1>Advertise on Episode Ninja</h1>
  <p>
    Thanks for your interest in advertising on Episode Ninja, and we’d love to help you drive more users to your product! Our website visitors are incredibly enthusiastic, and we’d love to help you connect with our audience.
  </p>

  <p>
    By advertising on Episode Ninja, you’ll have millions of opportunities to expose your brand to our audience of TV fans. They are all early adopters who spend their money in online purchases of all types.
  </p>

  <p>
    To learn more and chat with our sales representatives, please email us at <a href="mailto:advertise@episode.ninja">advertise@episode.ninja</a> and we’ll respond as soon as possible.
  </p>
</div>
