.series-background {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 500px 500px rgba(0,0,0,0.5);
  margin-top: -84px;
  min-height: 250px;
  align-items: flex-end;
  display: flex;
  justify-content: center;
  text-shadow: 0 0 20px #000;
  max-height: 1080px;
}

.series-text {
  padding-top: 7rem;
}

.card {
  font-size: 14px;
  line-height: 1.25;
}

.episode-rating {
  font-family: 'Francois One', sans-serif;
  font-size: 1.25rem;
}

.series-nav {
  border-bottom: 1px solid rgba(0,0,0,0.12);
}

.series-nav-link {
  align-items: center;
  color: #000;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  line-height: 1.25;
  text-align: center;
  text-transform: uppercase;

  &.active {
    border-bottom: 2px solid;
  }
}

@media (max-width: 544px) {
  .series-name {
    font-size: 1.5rem;
  }

  .series-description {
    font-size: 0.85rem;
    line-height: 1.25;
  }

  .card-title {
    font-size: 1.5rem;
  }
}

@media (min-width: 545px) and (max-width: 767px) {
  .series-name {
    font-size: 2rem;
  }

  .series-description {
    font-size: 1rem;
    line-height: 1.25;
  }
}

@media (min-width: 545px) {
  .series-background {
    min-height: 350px;
  }
}

@media (min-width: 768px) {
  .series-background {
    height: 50vh;
  }
}

@media (min-width: 992px) {
  .series-background {
    background-attachment: fixed;
    height: 70vh;
  }
}

@media(min-width: 1200px) {
  .content {
    flex: 0 0 calc(100% - 330px);
    max-width: calc(100% - 330px);
  }

  .sidebar {
    flex: 0 0 330px;
    max-width: 330px;
  }
}
