<div class="container">
  <h1 class="pt-1">The Best Episodes Directed by {{director}}</h1>

  <div class="card mt-1 mb-3" *ngFor="let episode of episodes; let index = index;">
    <div class="row align-items-center">
      <div class="col-sm-12 col-md-6 col-lg-5">
        <img class="img-fluid w-100" [src]="'https://thetvdb.com/banners/' + episode.filename" [alt]="episode.episodeName">
      </div>

      <div class="col-sm-12 col-md-6 col-lg-7 h-100 py-3 px-4 px-sm-4">
        <h2 class="h2 card-title mb-1">
          #{{index + 1}} - {{episode.episodeName}}
        </h2>
        <h3 class="h6 card-subtitle text-muted mb-3">
          <a [routerLink]="'/series/' + episode.seriesSlug">{{episode.seriesName}}</a> Season {{episode.airedSeason}} - Episode {{episode.airedEpisodeNumber}}
        </h3>
        <p class="card-text mr-3">{{episode.overview}}</p>
        <div class="float-right text-muted mx-3">
          <div class="episode-rating">
            <img src="/assets/star.svg" alt="star" width="25" height="25" class="align-top"> {{episode.rating | number: '1.2-2'}}
          </div>
          {{episode.ratingCount}} votes
        </div>
        <a [href]="episode.watchLinks[0]?.amazon" *ngIf="episode.watchLinks && episode.watchLinks[0]?.amazon" target="_blank" rel="noopener" class="btn btn-warning btn-sm">
          Watch on Amazon
        </a>
      </div>
    </div>
  </div>
</div>
