<div class="mobile-navigation bg-inverse hidden-sm-up">
  <app-search style="min-width: 250px;" class="py-3 pr-4 pl-2"></app-search>

  <ul class="list-unstyled">
    <li><a routerLink="/shows" class="text-white btn-link btn-block py-1 px-3">All Shows</a></li>
    <li><a routerLink="/about" class="text-white btn-link btn-block py-1 px-3">About</a></li>
  </ul>
</div>

<input type="checkbox" id="nav-trigger" class="nav-trigger hidden-sm-up" />
<label for="nav-trigger" class="hidden-sm-up"></label>

<div class="site-wrap">
  <nav class="navbar" [class.bg-inverse]="!router.url.includes('series')">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 d-flex">
          <a class="navbar-brand text-white" routerLink="/">
            <img src="/assets/logo.svg" width="30" height="30" class="float-left mr-1" alt="Episode Ninja">
            episode.ninja<br>
            <small>The best episodes of any tv show</small>
          </a>
        </div>
        <div class="col-sm-4 hidden-sm-down">
          <app-search *ngIf="router.url !== '/'" style="min-width: 250px;" class="mb-1"></app-search>
        </div>
      </div>
    </div>
  </nav>

  <main>
    <router-outlet></router-outlet>
  </main>

  <footer class="bg-inverse text-white pt-3 pb-2">
    <div class="container">
      <span class="float-sm-right">&copy; Copyright {{currentYear}} <a routerLink="/" class="text-white">episode.ninja</a></span>
      <ul class="list-inline">
        <li class="list-inline-item"><a routerLink="/about" class="text-white">About</a></li>
        <li class="list-inline-item"><a routerLink="/shows" class="text-white">Shows</a></li>
      </ul>
      <small>We are a participant in the Amazon Services LLC Associates Program, an affiliate advertising program designed to provide a means for us to earn fees by linking to Amazon.com and affiliated sites.</small>
    </div>
  </footer>
</div>

