<nav class="navbar navbar-inverse bg-inverse">
  <div class="container">
      <div class="row">
        <div class="col-sm-8 d-flex">
          <a class="navbar-brand" routerLink="/">
            episode.ninja
          </a>

          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" routerLink="/shows">Browse All Shows</a>
            </li>
          </ul>
        </div>
        <div class="col-sm-4">
          <app-search *ngIf="router.url !== '/'" style="min-width: 250px;"></app-search>
        </div>
      </div>
  </div>
</nav>

<main>
  <router-outlet></router-outlet>
</main>
