<div class="h3">Watch Now</div>

<div
  data-jw-widget
  data-api-key="wPSjTkvaArVAFxgOn8nCVxBpDLZBjUCM"
  data-object-type="show"
  [attr.data-id]="imdbId"
  data-id-type="imdb"
  data-theme="light"
></div>
<div>
  <a style="font-size: 11px; font-family: sans-serif; color: black; text-decoration: none;" target="_blank" data-original="https://www.justwatch.com" href="https://www.justwatch.com/us">
    Powered by
    <span style="display: -moz-inline-box; display: inline-block; width: 66px; height: 10px; margin-left: 3px; background: url(https://widget.justwatch.com/assets/JW_logo_black_10px.svg); overflow: hidden; text-indent: -3000px;">JustWatch</span>
  </a>
</div>
