<div class="bg-inverse">
  <h1 class="container text-white mb-3 py-3 podcast-title">
    the<br> <span>episode ninja</span><br> podcast
  </h1>
</div>

<div class="container">
  <div class="row">
    <!-- all episodes -->
    <div class="col content" *ngIf="!episode">
      <p>{{podcast?.description}}</p>
      <div class="card mb-3" *ngFor="let item of podcast?.items">
        <div class="card-block">
          <h2 class="card-title">
            <a [href]="'/podcast/' + item.slug">{{item.title}}</a>
          </h2>
          <h3 class="h6 card-subtitle text-muted mb-3">{{item.pubDate | date}}</h3>

          <div class="card-text" [innerHTML]="item.content"></div>

          <iframe [src]="getPlayer(item.player)" frameborder="0" height="100" width="100%" scrolling="no"></iframe>
        </div>
      </div>
    </div>

    <!-- single episodes -->
    <ng-container *ngIf="episode">
      <div class="col-3">
        <h4>Previous Episodes</h4>
        <div class="list-group">
          <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">List group item heading</h5>
              <small>3 days ago</small>
            </div>
            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
            <small>Donec id elit non mi porta.</small>
          </a>
        </div>
      </div>
      <div class="col-9 content">
        <div class="card-block">
          <h2 class="card-title">{{episode.title}}</h2>
          <h3 class="h6 card-subtitle text-muted mb-3">{{episode.pubDate | date}}</h3>

          <div class="card-text" [innerHTML]="episode.content"></div>

          <iframe [src]="getPlayer(episode.player)" frameborder="0" height="100" width="100%" scrolling="no"></iframe>
        </div>
      </div>
    </ng-container>
  </div>
</div>
