<div class="banner">
  <a href="/podcast/" class="logo">
    <img src="/assets/logo.svg" />
    <div class="logo__text">
      <div>the</div>
      <div class="logo__ninja">Episode Ninja</div>
      <div>podcast</div>
    </div>
  </a>

  <div class="row mb-3">
    <div class="col">
      <a href="" class="app-button">
        <img src="/assets/apple-podcasts.svg" alt="Apple Podcasts" class="img-fluid" />
      </a>
    </div>
    <div class="col">
      <a href="" class="app-button">
        <img src="/assets/google-podcasts.svg" alt="Apple Podcasts" class="img-fluid" />
      </a>
    </div>
  </div>

  <div class="description">
    <div class="description__episode">
      EPISODE {{episode.itunes.episode}}
    </div>

    <div class="description__title">
      {{episode.title}}
    </div>
    <a [href]="'/podcast/' + episode.slug" class="listen">Listen Now</a>
  </div>
</div>
