/* You can add global styles to this file, and also import other style files */

@import "../node_modules/bootstrap/scss/_variables.scss";
@import "../node_modules/bootstrap/scss/_mixins.scss";
@import "../node_modules/bootstrap/scss/_normalize.scss";
@import "../node_modules/bootstrap/scss/_reboot.scss";
@import "../node_modules/bootstrap/scss/_buttons.scss";
@import "../node_modules/bootstrap/scss/_button-group.scss";
@import "../node_modules/bootstrap/scss/_card.scss";
@import "../node_modules/bootstrap/scss/_dropdown.scss";
@import "../node_modules/bootstrap/scss/_forms.scss";
@import "../node_modules/bootstrap/scss/_grid.scss";
@import "../node_modules/bootstrap/scss/_navbar.scss";
@import "../node_modules/bootstrap/scss/_images.scss";
@import "../node_modules/bootstrap/scss/_type.scss";
@import "../node_modules/bootstrap/scss/_utilities.scss";

body,
.form-control {
  font-family: 'Lato', sans-serif;
}

body {
  background: #fafafa;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6,
.navbar-brand {
  font-family: 'Francois One', sans-serif;
}

app-search {
  display: block;
}

.mobile-navigation {
  width: 75vw;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.nav-trigger {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

label[for="nav-trigger"] {
  position: fixed;
  left: 15px; top: 15px;
  z-index: 2;
  height: 20px;
  width: 20px;
  cursor: pointer;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' fill='#fff' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6'/><rect y='24' width='30' height='6'/><rect y='12' width='30' height='6'/></svg>");
  background-size: contain;
}

.nav-trigger + label, .site-wrap {
  transition: left 0.2s;
}

.nav-trigger:checked + label {
  left: calc(75vw + 15px);
}

.nav-trigger:checked ~ .site-wrap {
  left: 75vw;
  box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
}

body {
  overflow-x: hidden;
}

.navbar {
  z-index: 1;
}

.navbar-brand {
  font-size: 1.1rem;
  line-height: 0.85;
  padding: 0;
  text-shadow: 0 0 20px #000;

  small {
    font-family: 'Lato', sans-serif;
    font-size: 60%;
  }
}

.sharing-button {
  display: inline-block;
  fill: #fff;
  height: 20px;
  width: 20px;
}

.site-wrap {
  min-height: 100%;
  min-width: 100%;
  background-color: #fff;
  position: relative;
  top: 0;
  bottom: 100%;
  left: 0;
  z-index: 1;
}

.btn {
  border-radius: 0;
}

.btn-block {
  white-space: normal;
}

.btn-primary {
  background-color: #004D40;
}

.btn-success {
  background-color: #1B5E20;
  border-color: #1B5E20;
}

.card {
  border-radius: 0;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-img {
  border-radius: 0;
}

.form-control {
  border-radius: 0;
  box-shadow: 0 1px 3px rgba(0,0,0,0.10), 0 1px 2px rgba(0,0,0,0.18);
}
