/* You can add global styles to this file, and also import other style files */
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1440px
);
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1400px
);

@import "../node_modules/bootstrap/scss/_variables.scss";
@import "../node_modules/bootstrap/scss/_mixins.scss";
@import "../node_modules/bootstrap/scss/_normalize.scss";
@import "../node_modules/bootstrap/scss/_reboot.scss";
@import "../node_modules/bootstrap/scss/_buttons.scss";
@import "../node_modules/bootstrap/scss/_button-group.scss";
@import "../node_modules/bootstrap/scss/_card.scss";
@import "../node_modules/bootstrap/scss/_dropdown.scss";
@import "../node_modules/bootstrap/scss/_forms.scss";
@import "../node_modules/bootstrap/scss/_grid.scss";
@import "../node_modules/bootstrap/scss/_navbar.scss";
@import "../node_modules/bootstrap/scss/_images.scss";
@import "../node_modules/bootstrap/scss/_type.scss";
@import "../node_modules/bootstrap/scss/_utilities.scss";
@import "../node_modules/bootstrap/scss/_modal.scss";
@import "../node_modules/bootstrap/scss/_alert.scss";
@import "~css-star-rating/css/star-rating.min.css";

.bg-inverse {
  background: #1D1D1D !important;
}

body,
.form-control {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

body {
  background: #fafafa;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6,
.navbar-brand {
  font-weight: 800;
}

app-search {
  display: block;
}

.navbar {
  padding: 5px 0 0;
  z-index: 1;

  @media (max-width: 575px) {
    .container {
      width: 100%;
    }

    .navbar-brand {
      margin: 0 auto;
    }
  }
}

.navbar-brand {
  color: #FFC700;
  font-size: 1.1rem;
  line-height: 0.85;
  padding: 5px 0 0;
  text-shadow: 0 0 20px #000;
  text-transform: uppercase;

  small {
    color: #fff;
    font-size: 60%;
    font-weight: 500;
    text-transform: lowercase;
  }

  &:hover {
    color: lighten(#FFC700, 30%);
  }
}

.sharing-button {
  color: #fff;
  display: block;
  float: left;
  fill: #fff;
  padding: 8px 20px;

  &.facebook {
    background: #3b5999;

    &:hover {
      background: darken(#3b5999, 10%);
    }
  }

  &.twitter {
    background: #55acee;

    &:hover {
      background: darken(#55acee, 10%);
    }
  }

  svg {
    margin-right: 5px;
    vertical-align: text-top;
  }

  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

.site-wrap {
  min-height: 100%;
  min-width: 100%;
  background-color: #fff;
  top: 0;
  bottom: 100%;
  left: 0;
  z-index: 1;
}

.btn {
  border-radius: 0;
}

.btn-block {
  white-space: normal;
}

.btn-success {
  background-color: #1B5E20;
  border-color: #1B5E20;
}

.btn-hulu {
  background-color: #1CE783;
  border-color: #1CE783;
  color: #fff;
}

.btn-vudu {
  background-color: #007bc4;
  border-color: #007bc4;
  color: #fff;
}

.btn-cbs {
  background-color: #0092f3;
  border-color: #0092f3;
  color: #fff;
}

.btn-amazon {
  background-color: #FF9900;
  border-color: #FF9900
}

.btn-itunes {
  background-color: rgba(45,45,45,0.98);
}

.card {
  border-radius: 0;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  font-size: 14px;
  line-height: 1.25;
}

.episode-rating {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
}

.card-img {
  border-radius: 0;
}

.form-control {
  border-radius: 0;
  box-shadow: 0 1px 3px rgba(0,0,0,0.10), 0 1px 2px rgba(0,0,0,0.18);
}

star-rating:focus,
star-rating div:focus {
  outline: none;
}

.modal {
  background: rgba(0,0,0,0.7);
  opacity: 0;
  transition: opacity 300ms ease-in;
}

.modal-open .modal {
  opacity: 1;
}

.list-inline-item:not(:last-child) a {
  border-right: 1px solid;
  padding-right: 7px;
}

.watch-link-wrapper {
  margin: 0 -10px;
}

.watch-link {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 175px;
  padding: 5px 15px;
  text-align: center;
}

.ac-lre-wrapper.luminous-theme .ac-player-wrapper.ac-floated-player {
  z-index: 9999999 !important;
}

@media screen and (max-width: 480px) {
  .ac-lre-wrapper.luminous-theme .ac-player-wrapper.ac-floated-player {
    bottom: 50px !important;
  }
}
