<form #form="ngForm" class="py-5 bg-inverse">
  <div class="container my-md-5" style="max-width: 600px">
    <div class="form-group dropdown text-center" [class.show]="items.length > 0">
      <label for="search" class="h3 text-white">The Best Episodes of Your Favorite Shows</label>
      <input type="search" class="form-control form-control-lg" [(ngModel)]="search" name="search" placeholder="Search for a show..." autocomplete="off">
      <div class="dropdown-menu">
        <a class="form-group" *ngFor="let item of items" [routerLink]="'/series/' + item.slug">
          <img class="img-fluid w-100" [src]="'http://thetvdb.com/banners/' + item.banner" [alt]="item.seriesName">
        </a>
      </div>
    </div>
  </div>
</form>

<div class="py-3">
  <div class="container">
    <h3>Popular Shows</h3>

    <div class="row">
      <div class="col-sm" *ngFor="let show of popular">
        <div class="card card-block">
          <h4 class="card-title">{{show.seriesName}}</h4>
          <a [routerLink]="'/series/' + show.slug" class="btn btn-primary">View Episodes</a>
        </div>
      </div>
    </div>
  </div>
</div>
