<div [class.sidebar]="sidebar" class="featured">
  <app-ad id="desktop-video" format="video-ac" *ngIf="sidebar"></app-ad>
  <app-fallback></app-fallback>

  <ng-container *ngIf="shows && shows.length">
    <h3>Similar Shows</h3>
    <div class="row no-gutters mb-3">
      <app-show-card *ngFor="let show of shows" [show]="show" class="col-sm-6 col-lg-4"></app-show-card>
    </div>

    <app-ad id="sidebar-2" class="mb-3"></app-ad>
  </ng-container>

  <h3>Trending Shows</h3>
  <div class="row no-gutters mb-3">
    <app-show-card *ngFor="let show of trendingShows" [show]="show" class="col-sm-6 col-lg-4"></app-show-card>
  </div>

  <app-ad id="sidebar-3" *ngIf="sidebar" class="mb-3"></app-ad>

  <h3>Popular Shows</h3>
  <div class="row no-gutters mb-3">
    <app-show-card *ngFor="let show of popularShows" [show]="show" class="col-sm-6 col-lg-4"></app-show-card>
  </div>

  <app-ad id="sidebar-4" *ngIf="sidebar" class="mb-3"></app-ad>

  <h3>Popular Networks</h3>
  <div class="row mb-3">
    <div *ngFor="let network of networks" class="col-sm-6 col-lg-4">
      <a class="card card-network bg-inverse mb-3" [href]="'/best-' + network.slug + '-shows'">
        {{network.name}}
      </a>
    </div>
  </div>

  <app-ad id="sidebar-5" *ngIf="sidebar" class="mb-3"></app-ad>

  <h3>Recent Years</h3>
  <div class="row mb-3">
    <div *ngFor="let year of years" class="col-sm-6 col-lg-4">
      <a class="card card-network bg-inverse mb-3" [href]="'/best-shows-of-' + year">
        Best Shows of {{year}}
      </a>
    </div>
  </div>

  <h3>Recently Added Shows</h3>
  <div class="row no-gutters mb-3">
    <app-show-card *ngFor="let show of newShows" [show]="show" class="col-sm-6 col-lg-4"></app-show-card>
  </div>

  <app-ad id="sidebar-6" *ngIf="sidebar"></app-ad>

</div>
