.featured .card-title {
  background: rgba(0,0,0,0.75);
  display: inline-block;
  padding: 3px 10px;
}

.sidebar .card {
  margin-bottom: 1rem;
}

.sidebar .col-sm-6 {
  flex: none;
  max-width: 100%;
}
